:root {
  --main-bg-color: rgb(24, 24, 25);
  --second-bg-color: rgb(36, 35, 42);
  --main-text-color: white;
  font-size: 16px;
}
@font-face {
  font-family: "Sahel";
  font-weight: 200;
  src: url("./fonts/Sahel.woff") format("woff");
}
body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  margin: 0;
  font-family: Sahel, "Quicksand", sans-serif;
}
input {
  color: white !important;
}
.MuiSelect-select {
  border-bottom: 1px solid #1976d2 !important;
}

.MuiInputLabel-root {
  color: white !important;
}
.MuiInput-root svg {
  color: white !important;
}
.App {
  text-align: center;
  margin: 0 5vw;
  height: 100vh;
}
